html {
    scroll-behavior: smooth;
}

h2,
h3,
h4,
.nav-item,
#transition,
footer {
    text-align: center;
}


/* ***************** HEADER ***************** */

header {
    background: url(./media/main.jpg)no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
    /* virtual height */
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 40px;
}

h1 {
    font-size: 5em;
    padding: 200px 0 100px 20%;
    text-shadow: -3px 3px 2px #855a85;
}

footer {
    padding: 25px 0 100px 0;
    background-color: #855a85;
    margin-top: 0px;
    color: white;    
}

ul.bozzo, a.bozzo, a.bozzo:hover, a.bozzo:visited, a.bozzo:link, a.bozzo:active {
    color: white;
    list-style-type: none;
    text-decoration-color: white;
    text-decoration: none;
    text-decoration-color: white;
}